# Configuration file
# Generated on 5/24/12 5:36 PM

####################
# block 
####################

block {
   blockNuclearControlMain=192
}

####################
# general 
####################

general {
   alarmRange=64
}

####################
# item 
####################

item {
   itemRemoteSensorKit=31002
   itemSensorLocationCard=31003
   itemToolDigitalThermometer=31001
   itemToolThermometer=31000
}

